@import "~@/utils/styles/index.less";

page {
  background-color: @grey-2;
}

.main {
  padding-bottom: 48rpx;
}

.imgContainer {
  margin-top: 48rpx;
  text-align: center;

  .img {
    width: 300rpx;
    height: 300rpx;
    border-radius: 50%;
    box-shadow: 0 0 16rpx 0 #C0CCD0;
    overflow: hidden;
  }
}

.emptyTip {
  margin-top: 32rpx;
  padding: 0 72rpx;
  color: @grey-7;
  font-size: 34rpx;
  font-weight: 500;
  line-height: 48rpx;
  text-align: center;
}

.sectionTitle {
  padding: 20rpx 32rpx;
  font-size: 32rpx;
  font-weight: 500;
  line-height: 48rpx;
  text-align: left;
}

.items {
  .item {
    margin-top: 4rpx;
    padding: 32rpx;
    background-color: @white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.icon {
  width: 120rpx;
  height: 172rpx;
  border-radius: 16rpx;
  box-shadow: 0 0 16rpx 0 #C0CCD0;
  flex: 0 0 auto;
  overflow: hidden;
}

.content {
  margin-left: 32rpx;
  flex: 1 1 auto;
}

.title {
  font-size: 30rpx;
  font-weight: 400;
  line-height: 42rpx;
}

.time,
.desc {
  margin-top: 8rpx;
  color: @grey-5;
  font-size: 26rpx;
  font-weight: 400;
  line-height: 36rpx;
}

.desc {
  font-size: 24rpx;
  line-height: 32rpx;
  word-break: break-all;
}

.arrow {
  margin-left: 16rpx;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
