@import "~utils/styles/index.less";

.mainWrapper {
  // TODO
}

.textWrapper {
  margin-top: 20px;
  color: @white;
  text-align: center;
}

.buttonWrapper {
  margin-top: 20px;
  text-align: center;
}

.demoWrapper {
  color: @white;
}
