@import "~@/utils/styles/index.less";

.main {
  margin: 32rpx 32rpx 0;
  padding-bottom: 48rpx;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 320rpx;
  height: 320rpx;
  position: relative;
  margin-bottom: 48rpx;
  border: 2rpx solid @grey-3;
  border-radius: 16rpx;
  box-shadow: 0 0 16rpx 0 rgba(192, 204, 208, .3);
  text-align: center;
  flex: 0 0 auto;

  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .icon {
      width: 160rpx;
      height: 160rpx;
    }

    .tip {
      margin-top: 16rpx;
      color: @grey-6;
      font-size: 30rpx;
      font-weight: 400;
      line-height: 42rpx;
    }
  }
}
